body {
    text-align: center;
    font-family: 微軟正黑體;
}

section {
    margin-bottom: 100px;
}

.component {
    border: 2px solid rgb(131, 127, 127);
}

button {
    width: 250px;
    padding: 5px;
    margin: 10px 0;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.updateButton {
    background-color: rgb(75, 167, 243);
}

.updateButton:hover {
    background-color: rgb(77, 174, 253);
}

.toggleComponentButton {
    background-color: rgb(235, 92, 92);
}

.toggleComponentButton:hover {
    background-color: rgb(245, 98, 98);
}