body {
    text-align: center;
    font-family: 微軟正黑體;
    background-color: #eee;
}

section {
    margin-top: 80px;
}

.componentWithOutKeepAlive,
.componentWithKeepAlive {
    width: 320px;
    margin: 0 auto;
    border: 2px solid rgb(131, 127, 127);
    border-radius: 3px;
}

button {
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.updateButton {
    background-color: rgb(75, 167, 243);
}

.updateButton:hover {
    background-color: rgb(77, 174, 253);
}

.toggleComponentButton {
    background-color: rgb(235, 92, 92);
}

.toggleComponentButton:hover {
    background-color: rgb(245, 98, 98);
}